{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    
    <!-- Block for meta tags like SEO-related metadata or page description -->
    {% block meta %} 
    {% endblock meta %}
    
    <!-- Tailwind CSS -->
    <script src="https://cdn.tailwindcss.com"></script>
    
    <!-- Custom CSS for additional styling -->
    <link rel="stylesheet" href="{% static 'css/global.css' %}" />
    
    <!-- Page title block -->
    <title>{% block title %}Beauty Hive{% endblock title %}</title>
  </head>

  <body class="bg-gray-100 text-gray-800">
    <!-- Content block for individual pages to override -->
    {% block content %} 
    {% endblock content %}
  </body>
</html>
