{% extends 'base.html' %}

{% block content %}
<h5>Made by {{ namamhs }} - {{ npm }} - {{ class }} </h5>
<h1>BEAUTY HIVE</h1>
<h4>All Things Beauty</h4>
<h3>OUR PRODUCTS</h3>

<!-- Add New Product button -->
<div class="button-container">
    <a href="{% url 'main:create_product_entry' %}">
        <button class="center-button">Add New Product Entry</button>
    </a>
</div>

{% if not product_entries %}
<p>Belum ada data produk pada Beauty Hive.</p>
{% else %}
<div class="product-container">
  {% for product_entry in product_entries %}
  <div class="desc-box">
      <div class="image-box"></div>
      <div class="product-title">{{ product_entry.name }}</div>
      <div class="product-details">
          <p class="product-detail"><strong>Description:</strong> {{ product_entry.description }}</p>
          <p class="product-detail"><strong>Shade:</strong> {{ product_entry.shade }}</p>
          <p class="product-detail"><strong>Size:</strong> {{ product_entry.size }}</p>
          <p class="product-detail"><strong>Price:</strong> {{ product_entry.price }}</p>
      </div>
      <button>Buy</button>
  </div>
  {% endfor %}
</div>
{% endif %}

<br />

{% endblock content %}
